<hr class="colorgraph">
<div class="jumbotron" id="signup_jumbo">

<h2 style= "text-align: center">Now, we create your profile <b><%= current_user.email.split('@')[0] %><b>!</h2><br>

<%= render 'form', profile: @profile %>

</div>
<hr class="colorgraph">
