
<%= render 'partials/navbar' %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <br>
    <h1 class="display-4"><center>Welcome to the portal<center></h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p class ="lead"> In this application you can manage your patients, manage your patients records and also </p>
    <p class="lead"> manage your appointments with your patients. You can also manage your profile. </p>
    <%= image_tag ("dentist.jpg"), class: "landing-page-image"%>
  </div>
</div>

<%= render 'partials/footer' %>
