<footer>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="google.com"> Thehighwayclinic.com</a>
  </div>
  <div id="openweathermap-widget-13" style="float: right; padding-right: 10px; padding-bottom: 7px;"></div>
<script>
    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({id: 13,cityid: '2964574',appid: '<%= ENV['WEATHERAPI'] %>',units: 'metric',containerid: 'openweathermap-widget-13',
    });
    // code sourced here : https://openweathermap.org/widgets-constructor
    (function() {
        var script = document.createElement('script');
        script.async = true;script.charset = "utf-8";
        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(script, s);
    })();
</script>
</footer>
